# Gitlab
/.gitlab-ci-local/
/.gitlab-ci-local-variables.yml
/.ci/artifacts/

# Colcon
/build/
/install/
/log/
/src/platforms/
/src/external/

# Python
*.egg-info
__pycache__

# Ansible
/.ansible
/ansible/**/tests/output

# Dev workflows
/prom_targets.d/
